# node_modules
node_modules/

# expo
.expo/
dist/
web-build/

# native build directories
android/
ios/

# environment & local configs
.env*.local
.env
*.log

# macOS / Windows OS files
.DS_Store
Thumbs.db
